{% extends 'base.html.twig' %}

{% block title %}Envoi d'un nouveau mot de passe{% endblock %}

{% block body %}
    <p>
        Si l'adresse mail existe, un mail avec un lien de réinitialisation du mot de passe vous sera envoyé.
        Ce lien va expirer
        dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.

        {# If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
        This link will expire in #}
    </p>
    <p>Si vous n'avez pas reçu de mail, vérifiez vos spams ou <a href="{{ path('app_forgot_password_request') }}"
                                                                 class="forgotMdp">essayez de nouveau</a>.</p>
    {#  <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p> #}
{% endblock %}
