{% extends 'base.html.twig' %}

{% block title %}
    Sortie | {{ parent() }}
{% endblock %}
{% block body %}
    <h1>Nom de ma sortie</h1>
    {# todo: afficher le détail d'une sortie #}
{% endblock %}