.navbar {
    background-color: #C0C0C0;
    border-bottom: solid 2px #F7F7F7;
}

.nav-item {
    border: solid 1px black;
    margin: 0px 2px 0px 2px;
}

.nav-link {
    color: black;
    font-family: ms sans-serif;
    margin: 0px 10px 0px 10px;
}

.nav-item:hover{
    background-color: #000080;
}

body {
    background-color: indianred;
    color: black;
    font-family: ms sans-serif;
    background-size: cover;
    height: 100vh;
    margin: 0;
}