#logo {
    width: 30%;
    height: auto;
    border-top: solid 2px #F7F7F7;
    border-left: solid 2px #F7F7F7;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}
#logo:hover {
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px #F7F7F7;
    border-bottom: solid 2px #F7F7F7;
}

.navbar {
    background-color: #C0C0C0;
    border-bottom: solid 2px #F7F7F7;
}

.nav-item {

    margin: 0 2px 0 2px;
}

.nav-link {
    border-top: solid 2px #F7F7F7;
    border-left: solid 2px #F7F7F7;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    color: black;
    font-family: "Times New Roman", "Comic Sans MS", sans-serif;
    margin: 0 5px 0 5px;
    width: 150px;
}

.nav-item:hover > a, .searchButton:hover, .btnCenter:hover{
    background-color: #000080;
    color:whitesmoke;
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px #F7F7F7;
    border-bottom: solid 2px #F7F7F7;
}

body {
    background-image: url("../../asset/images/background.png");
    color: black;
    font-family: "Times New Roman", "Comic Sans MS", sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#sortir-footer {
    margin-top: auto;
    padding: 1rem 0;
    background-color: #C0C0C0;
    border-top: solid 2px #F7F7F7;
}

table {
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}

.table-top {
    background-color: #000080;
    color: whitesmoke;
    border-top: solid 4px #F7F7F7;
    border-left: solid 4px #F7F7F7;
    border-right: solid 4px darkgray;
    border-bottom: solid 4px darkgray;
}

.table-rows {
    background-color: #C0C0C0;
    color: black;
    border-top: solid 4px #F7F7F7;
    border-left: solid 4px #F7F7F7;
    border-right: solid 4px darkgray;
    border-bottom: solid 4px darkgray;
}

.link-smart{
    pointer-events: none;
    text-decoration: none;
    color: black;
}

.enabled-smart{
    display: none;
}

label[for="campus_name"] {
    display: none;
}

label[for="city_name"] {
    display: none;
}

label[for="city_postcode"] {
    display: none;
}

.block-dateUsername{
    margin-right: 0;
    padding-right: 0;
    font-weight: bold;
    font-family: "Comic Sans MS";
    display: flex;
    text-align: right;
    flex-direction: column;
}

.searchButton{
    height: 80px;
    width: 125px;
    font-size: 17px;
    background-color: #C0C0C0;
    border-top: solid 2px #F7F7F7;
    border-left: solid 2px #F7F7F7;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}

.btnCenter{
    border-radius: 0;
    border-top: solid 2px #F7F7F7;
    border-left: solid 2px #F7F7F7;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    color: black;
    font-family: "Times New Roman", "Comic Sans MS", sans-serif;
    margin: 0 5px 0 5px;
    width: 150px;
    background-color: #C0C0C0;
}

.displayProfile{
    font-size: 22px;
}

.centerTitle{
    text-align: center;
    background-color: #000080;
    color: whitesmoke;
    border-top: solid 2px #F7F7F7;
    border-left: solid 2px #F7F7F7;
    border-right: solid 2px darkgray;
    border-bottom: solid 2px darkgray;
}

.titleCol{
    background-color: #000080;
    color: whitesmoke;
    border-top: solid 2px #F7F7F7;
    border-left: solid 2px #F7F7F7;
    border-right: solid 2px darkgray;
    border-bottom: solid 2px darkgray;
}

.infoCol{
    background-color: #C0C0C0;
    color: black;
    border-top: solid 2px #F7F7F7;
    border-left: solid 2px #F7F7F7;
    border-right: solid 2px darkgray;
    border-bottom: solid 2px darkgray;
}

.profilepicture{
    border-top: solid 2px #F7F7F7;
    border-left: solid 2px #F7F7F7;
    border-right: solid 2px darkgray;
    border-bottom: solid 2px darkgray;
    max-height: 400px;
    max-width: 380px;
}

.btnCenterCancel{
    border-radius: 0;
    border-top: solid 2px #F7F7F7;
    border-left: solid 2px #F7F7F7;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    color: black;
    font-family: "Times New Roman", "Comic Sans MS", sans-serif;
    margin: 0 5px 0 5px;
    width: 150px;
    background-color: #C0C0C0;
}

.btnCenterCancel:hover{
    background-color: #800000;
    color:whitesmoke;
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px #F7F7F7;
    border-bottom: solid 2px #F7F7F7;
}

.form-control{
    border-radius: 0;
}

.form-select{
    border-radius: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 576px) {
    .navbar {
        display: none;
    }
    .formContainer{
        display: none;
    }
    .link-smart{
        pointer-events: auto;
        text-decoration: revert;
        color: revert;
    }
    .hidden-smart{
        display: none;
    }
    .enabled-smart{
        display: revert;
    }
    #logo{
        width: 40%;
    }
}

.alert{
    background: #a78bfa;
}